<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link rel="stylesheet" href="/stylesheets/dash.css">
	<script src="https://use.fontawesome.com/424d0c2e87.js"></script>
</head>

<body ng-cloak>
<div class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a href="/" class="pure-menu-link">View</a></li>
		<li class="pure-menu-item"><a href="/user/logout" class="pure-menu-link">Logout</a></li>
	</ul>
</div>

<div class="banner">
	<h1 class="banner-head">
		Portfolios
	</h1>
</div>

<div class="wrapper" ng-controller="mainCtrl">
	<div>
		<select ng-change="viewPortfolio()" ng-options="id for id in ids" ng-model="currId"></select>
	</div>
	<div>
		<form class="pure-form">
			<fieldset class="pure-group">
				<input class="pure-u-1" id="title" type="text" placeholder="Title" ng-value="title" ng-model="meta.title">
				<input class="pure-u-1" id="mainImagePath" type="text" placeholder="Main Image Path" ng-value="mainImagePath" ng-model="meta.mainImagePath">
				<input class="pure-u-1" id="phone" type="text" placeholder="Phone Number" ng-value=phone ng-model="meta.phone">
				<input class="pure-u-1" id="id" type="text" placeholder="Id For this Portfolio" ng-value="id" ng-model="meta.id" required>
			</fieldset>
			<h4>Sections</h4>
			<div ng-repeat="c in content">
				<fieldset class="pure-group">
					<input class="pure-u-1" name="sectionTitle" type="text" placeholder="Section Title" ng-model="c.title" ng-value="c.title">
					<textarea class="pure-u-1" name="sectionContent" placeholder="Content Goes Here..." ng-model="c.content">{{c.content}}</textarea>
					<button class="pure-button pure-u" ng-click="removeSection(c)"><i class="fa fa-minus"></i></button>
				</fieldset>
			</div>
			<button class="pure-button pure-u pure-button-primary" id="addNew" type="submit" ng-click="save()">Save</button>
			<button class="pure-button pure-u" ng-click="newSection()"><i class="fa fa-plus"></i></button>
		</form>
	</div>
	<div>
		Portfolio that will be displayed:
		<select class="" ng-options="id for id in ids" ng-model="displayPortfolio"></select>
		<button class="pure-button pure-input-1-2 pure-button-primary" ng-click="updateDisplayPortfolio()">Save</button>
	</div>
</div>

<footer>
		<p></p>
</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="/js/Resume.js"></script>
	<script src="/js/Content.js"></script>
	<script src="/js/dashboardApp.js"></script>
</body>
</html>