<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<!--[if lt IE 9]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
<div class="wrapper">
	<h1>login</h1>
	<div id="buttons">
		<div class="googleButton">
			<a href="/user/auth/google">Google</a>
		</div>
		<div class="loginButton">
			<a>Login</a>
		</div>
		<div class="registerButton">
			<a>Register</a>
		</div>
	</div>
	<div id="registerForm">
		<span class="close" id="closeRegister">&times;</span>
		<form action="/user/register" method="POST">
			<label for="name">Name</label>
			<input name="name" type="text">
			<label for="password">Password</label>
			<input name="password" type="password">
			<label for="password2">Re-Type Password</label>
			<input name="password2" type="password">
			<input type="hidden" name="authType" value="password">
			<input type="submit">
		</form>
	</div>
	<div id="loginForm">
		<span class="close" id="closeLogin">&times;</span>
		<form action="/user/login" method="POST">
			<label for="name">Name</label>
			<input name="name" type="text">
			<label for="password">Password</label>
			<input name="password" type="password">
			<input type="hidden" name="authType" value="password">
			<input type="submit">
		</form>
	</div>
	<div class="push"></div>
</div>

<div class="loginFooter">
		<p></p>
</div>
<script>
	var registerform = document.getElementById("registerForm");
	var loginform = document.getElementById("loginForm");

	var buttons = document.getElementById("buttons");
	var loginButton = document.querySelector(".loginButton");
	var registerButton = document.querySelector(".registerButton");
	
	var closeLogin = document.getElementById("closeLogin");
	var closeRegister = document.getElementById("closeRegister");

	registerButton.addEventListener("click", function() {
		buttons.style.display = "none";
		registerform.style.display = "block";
	});
	loginButton.addEventListener("click", function() {
		buttons.style.display = "none";
		loginform.style.display = "block";
	});
	closeRegister.addEventListener("click", function() {
		buttons.style.display = "inline-flex";
		registerform.style.display = "none";
	});
	closeLogin.addEventListener("click", function() {
		buttons.style.display = "inline-flex";
		loginform.style.display = "none";
	});
</script>
</body>
</html>