<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<!--[if lt IE 9]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
<div class="wrapper">
	<h1>login</h1>
	<div id="buttons">
		<div class="googleButton">
			<a href="/owner/auth/google">Google</a>
		</div>
		<div class="loginButton">
			<a>Login</a>
		</div>
	</div>
	<div id="loginForm">
		<span class="close">&times;</span>
		<form action="/owner/register" method="POST">
			<label for="name">Name</label>
			<input name="name" type="text">
			<label for="password">Password</label>
			<input name="password" type="password">
			<input type="submit">
		</form>
	</div>
	<div class="push"></div>
</div>

<div class="loginFooter">
		<p>&copy;Copyright 2016</p>
</div>
<script>
	var form = document.getElementById("loginForm");
	var buttons = document.getElementById("buttons");
	var loginButton = document.querySelector(".loginButton");
	var closeForm = document.querySelector("span");
	loginButton.addEventListener("click", function() {
		buttons.style.display = "none";
		form.style.display = "block";
	});
	closeForm.addEventListener("click", function() {
		buttons.style.display = "inline-flex";
		form.style.display = "none";
	});
</script>
</body>
</html>