<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<!--[if lt IE 9]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
<div class="wrapper">
	<h1>login</h1>
	<div id="buttons">
		<div class="googleButton">
			<a href="">Google</a>
		</div>
		<div class="loginButton">
			<a href="">Login</a>
		</div>
	</div>
	<div id="loginForm">

	</div>
	<div class="push"></div>
</div>

<div class="loginFooter">
		<p>&copy;Copyright 2016</p>
</div>
<script>

</script>
</body>
</html>