<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<!--[if lt IE 9]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<h1>login</h1>
	<div id="buttons">
		<div id="googleButton">
			<a href="">Google</a>
		</div>
		<div id="loginButton">
			<a href="">Login</a>
		</div>
	</div>

<footer id="">
		<p>&copy;Copyright 2016</p>
</footer>
<script>
	
</script>
</body>
</html>